div.form_area {
    height: 800px;
    width: 600px;
    padding-top: 100px;
    padding-left: 400px;
}

.form_area > form {
    height: 600px;
    width: 600px;
}

.form_area input.input {
    height: 30px;
    width: 240px;
    margin-bottom: 20px;
}

