{% extends "base.html" %}

{% block header %}
    <link rel="stylesheet" href="{{ url_for('static',filename='css/student.css') }}" type="text/css">
{% endblock %}


{% block main %}
    <div class="form_area">
        <form action="#" method="get">
            <input type="text" class="input" id="stu_number">
            <input type="button" id="submit" value="学号查询"
                   class="button button-glow button-border button-rounded button-primary">
        </form>
    </div>
    <div class="stu_info">
        <table id="stu_info">
            <tr>
                <th>学号</th>
                <th>姓名</th>
                <th>性别</th>
                <th>年级</th>
                <th>专业</th>
                <th>班级</th>
                <th>层次</th>
                <th>学制</th>
            </tr>
            <tr>
                <td>14110543055</td>
                <td>吕绘杨</td>
                <td>男</td>
                <td>2014</td>
                <td>计算机科学与技术（中爱合作办学）</td>
                <td>计科1402(中外)</td>
                <td>本科</td>
                <td>4</td>
            </tr>
        </table>
    </div>
{% endblock %}


{% block script %}
    <script src="{{ url_for('static',filename='js/student.js') }}"></script>
{% endblock %}